<h1><%=@book.name %></h1>

<p><%= @book.content %></p>

<%= form_for(@note) do |f|%>

    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.hidden_field :user_id, value: current_user.id  %>
    <%= f.hidden_field :book_id, value: @book.id %>

    <%= f.submit "Create new note" %>

<% end %>

<br>

<% @notes.each do |note| %>
    <% if note.book_id == @book.id %>
        <li><%= note.title %></li>
        <p>
        <%= link_to "Edit", edit_note_path(note) %> |
        <%= link_to "Delete", note, :method => :delete %>
        </p> 
        <hr />
    <% end %>
    
<% end %>


