<!DOCTYPE html>
<html>
  <head>
    <title>VivianRailsProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div>
      <br>
      <% if logged_in?%>
      <%= link_to "Add Book", new_user_book_path(current_user.id) %> |
      <%= link_to "All Books", user_books_path(current_user.id) %> |
      <%=link_to "Logout", logout_path, method:"delete" %>

      <% else %>
      <%=link_to "Sign Up", signup_path %> |
      <%=link_to "Login", login_path %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
